{{ partial "htmlhead" . }}
    <body lang='{{ .Site.Language.Lang | default "en-us" }}' class="is-loading">

        <!-- Wrapper -->
            <div id="wrapper">

                {{ partial "header" . }}
                {{ partial "nav" . }}

                <!-- Main -->
                    <div id="main">



                        <!-- Post -->
                        <section class="post">
                            <header class="major">
                                <h1>{{ .Title }}</h1>
                                <p>{{ .Description }}</p>
                            </header>
                            
                            {{ $imageResources := .Site.GetPage "/uploads" }}
                           
                            {{ with .Params.images }}
                                <div class="image main">
                                    {{ $original := $imageResources.Resources.GetMatch (strings.TrimPrefix "/uploads/" (.src)) }}
                                    {{ $cover := $original.Resize "1200x" }} 
                                    <img alt="{{ .name }}" src="{{ $cover.RelPermalink }}">
                                </div>
                            {{ end }}

                            <p style="text-align:center;">
                                <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=48&l=ez&f=ifr&linkID=f0f8722015f975575e06127441e9ac04&t=drawbuildplay-20&tracking_id=drawbuildplay-20" width="728" height="90" scrolling="no" border="0" style="border:none;" frameborder="0"></iframe>
                            </p>

                            {{ .Content }}

                            {{ partial "postcustom" . }}
                            
                            {{ if not .Date.IsZero }}
                            <h6><span class="date">Last Updated: {{ .Date.Format "January 2, 2006" }}</span></h6>
                            {{ end }}

                            {{ if not (eq .Params.disableComments true) }}
                            {{ template "_internal/disqus.html" . }}
                            {{ end }}
                        </section>
                    

                    </div>

                    {{ partial "footer/index" . }}
                    {{ partial "copyright" . }}

            </div>
            {{ template "_internal/google_analytics.html" . }}
            {{ partial "scripts/index" . }}
    </body>
</html>
